In [1]:
import numpy as np
import pandas as pd

### Scores Df

In [2]:
# Load data
data = pd.read_json('data.json', lines=True)
data

       id_PEP   Rule                                          flag_data
0        9944  PEP01  {'kids_actual': 0, 'kids_expected': 1, 'wife_a...
1        6179  PEP01  {'kids_actual': 2, 'kids_expected': 3, 'wife_a...
2         702  PEP01  {'kids_actual': 0, 'kids_expected': 1, 'wife_a...
3        9970  PEP01  {'kids_actual': 0, 'kids_expected': 1, 'wife_a...
4        6126  PEP01  {'kids_actual': 0, 'kids_expected': 1, 'wife_a...
...       ...    ...                                                ...
18894   32833  PEP27               {'am_live_property_rent_300more': 1}
18895   25822  PEP27               {'am_live_property_rent_300more': 1}
18896    4940  PEP27               {'am_live_property_rent_300more': 1}
18897   52064  PEP27               {'am_live_property_rent_300more': 1}
18898    4831  PEP27               {'am_live_property_rent_300more': 1}

[18899 rows x 3 columns]

In [3]:
# List PEP ids
pep_id = data['id_PEP'].unique()

# Create DF
pep_ids = pd.DataFrame({'id_PEP':pep_id})
pep_ids

      id_PEP
0       9944
1       6179
2        702
3       9970
4       6126
...      ...
9496   26254
9497   26078
9498   47966
9499   33880
9500   32833

[9501 rows x 1 columns]

In [4]:
# Work only with 'id_PEP' and 'Rule' columns
pivot = data[['id_PEP', 'Rule']]

# Generate pivot table
pivot = pd.pivot_table(pivot, index=['id_PEP'], columns=['Rule'], aggfunc=len, fill_value=0)
pivot

Rule,PEP01,PEP02,PEP03_avto,PEP03_home,PEP03_land,PEP04_adress,PEP04_region,PEP05,PEP09,PEP10,...,PEP18,PEP19,PEP20,PEP21,PEP22,PEP23,PEP24,PEP25,PEP26,PEP27
id_PEP,,,,,,,,,,,,,,,,,,,,,
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,1,0,0,0,0,0,0,1,0,0,...,1,0,1,0,0,1,1,0,0,0
34,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
139,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54276,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54279,0,0,0,0,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
54282,0,1,1,1,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
54283,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54284,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [5]:
# Create df of Scores
scores = pd.merge(pep_ids, pivot, on=['id_PEP'], how='outer')

#Add column PEP07
scores['PEP07'] = 0

#Replace NaN with 0
scores.fillna(0, inplace=True)

scores

,id_PEP,PEP01,PEP02,PEP03_avto,PEP03_home,PEP03_land,PEP04_adress,PEP04_region,PEP05,PEP09,...,PEP19,PEP20,PEP21,PEP22,PEP23,PEP24,PEP25,PEP26,PEP27,PEP07
0,9944,1,0,1,0,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,6179,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,702,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9970,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6126,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9496,26254,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9497,26078,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9498,47966,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9499,33880,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9500,32833,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [6]:
# Dictionary of Rules
rules_dict = {'PEP01':0.1,
             'PEP02':0.4,
             'PEP03_avto':0.4,
             'PEP03_home':0.1,
             'PEP03_land':0.1,
             'PEP04_adress':0.7,
             'PEP04_region':0.1,
             'PEP05':0.4,
             'PEP07':0.8,
             'PEP09':0.5,
             'PEP10':0.2,
             'PEP11':0.2,
             'PEP13':0.7,
             'PEP15':0.8,
             'PEP16':1,
             'PEP17':0.8,
             'PEP18':0.4,
             'PEP19':0.6,
             'PEP20':0.8,
             'PEP21':1,
             'PEP22':0.8,
             'PEP23':0.5,
             'PEP24':1,
             'PEP25':0.7,
             'PEP26':0.9,
             'PEP27':0.3}

In [7]:
# Auxiliary function - compute individual scores
def calculate_score(rules, data):
    
    """ Calculates the individual score of a PEP.
        Expects a dictionary of rules and weights, and a dataframe.
        Returns the score."""
    
    score = 0
    for key, value in rules.items():
        score += data[key] * value
        
    return score.round(2)

In [8]:
# Auxiliary function - compute final scores
def calculate_final_score(data, column):
    
    """ Calculates the final score of a PEP.
        Expects a dataframe and the name of the column (str) with previously computed individual scores.
        Returns the final score."""

    highest_score = data[column].max()
    
    final_score = data[column] * 10 / highest_score
     
    return final_score.round(2)

In [9]:
# Create Scores column
scores['score'] = calculate_score(rules_dict, scores)

# Create Final Scores column
scores['final_score'] = calculate_final_score(scores, 'score')

In [10]:
# Create Risk class
conditions = [
    (scores['final_score'] <= 3),
    (scores['final_score'] > 3) & (scores['final_score'] <= 7),
    (scores['final_score'] > 7)]
choices = ['low', 'mid', 'high']
scores['risk'] = np.select(conditions, choices)

scores

,id_PEP,PEP01,PEP02,PEP03_avto,PEP03_home,PEP03_land,PEP04_adress,PEP04_region,PEP05,PEP09,...,PEP22,PEP23,PEP24,PEP25,PEP26,PEP27,PEP07,score,final_score,risk
0,9944,1,0,1,0,1,1,0,0,0,...,1,0,0,0,0,0,0,2.1,3.44,mid
1,6179,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.1,0.16,low
2,702,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.1,0.16,low
3,9970,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0.8,1.31,low
4,6126,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.1,0.16,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9496,26254,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.7,1.15,low
9497,26078,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.7,1.15,low
9498,47966,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0.9,1.48,low
9499,33880,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0.9,1.48,low
9500,32833,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0.3,0.49,low

In [11]:
# Create CSV file
scores.to_csv('scores.csv', index = False, header=True)

### All Fields Df

In [12]:
# Normalize flag_data column to create more columns
all_fields = pd.concat([data['id_PEP'], pd.json_normalize(data.flag_data)], axis=1)
all_fields

,id_PEP,kids_actual,kids_expected,wife_actual,wife_expected,total_property_assets,total_property_assets_divide_income,sum_income,am_avto,am_avto_without_price,...,sum_prev_cash_assets,sum_cash_min_year,sum_cash_min_year_divide_sum_income_min_year,sum_income_min_year,sum_spending_divide_sum_income,am_company_noBeneficInform,am_company,sum_money_spending,sum_crypto,am_live_property_rent_300more
0,9944,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6179,2.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,702,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9970,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6126,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18894,32833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
18895,25822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
18896,4940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
18897,52064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
18898,4831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [13]:
# Merge rows by id_PEP
all_fields = all_fields.groupby('id_PEP').max()

In [14]:
all_fields

,kids_actual,kids_expected,wife_actual,wife_expected,total_property_assets,total_property_assets_divide_income,sum_income,am_avto,am_avto_without_price,am_real_estate,...,sum_prev_cash_assets,sum_cash_min_year,sum_cash_min_year_divide_sum_income_min_year,sum_income_min_year,sum_spending_divide_sum_income,am_company_noBeneficInform,am_company,sum_money_spending,sum_crypto,am_live_property_rent_300more
id_PEP,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,5.470306e+07,10.2862,5318115.0,NaN,NaN,NaN,...,NaN,14171514.4,26.7159,530453.0,NaN,1.0,NaN,NaN,NaN,NaN
2,0.0,4.0,1.0,1.0,NaN,NaN,772961396.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,108.4764,91.0,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,2.548462e+06,12.7462,199939.0,NaN,NaN,NaN,...,779336.3476,682586.0,12.6839,53815.0,NaN,NaN,NaN,NaN,NaN,NaN
139,NaN,NaN,NaN,NaN,NaN,NaN,15084440.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,99.8688,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54282,NaN,NaN,NaN,NaN,5.553956e+06,14.9538,371408.0,3.0,3.0,2.0,...,NaN,5553956.0,14.9538,371408.0,NaN,NaN,NaN,NaN,NaN,NaN
54283,0.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54284,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1440340.0,6.9797,206362.0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Create CSV file
all_fields.to_csv('all_fields.csv', index = True, header=True)