## Exploratory Data Analysis

In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
# Read data
scores = pd.read_csv("scores.csv")

# Summarize data
print('Shape of data set: ' + str(scores.shape))
scores.head()

Shape of data set: (9501, 29)

,id_PEP,PEP01,PEP02,PEP03_avto,PEP03_home,PEP03_land,PEP04_adress,PEP04_region,PEP05,PEP09,...,PEP21,PEP22,PEP23,PEP24,PEP25,PEP26,PEP27,PEP07,score,final_score
0,9944,1,0,1,0,1,1,0,0,0,...,0,1,0,0,0,0,0,0,2.1,3.44
1,6179,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.1,0.16
2,702,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.1,0.16
3,9970,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0.8,1.31
4,6126,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.1,0.16

In [3]:
scores.describe()

,id_PEP,PEP01,PEP02,PEP03_avto,PEP03_home,PEP03_land,PEP04_adress,PEP04_region,PEP05,PEP09,...,PEP21,PEP22,PEP23,PEP24,PEP25,PEP26,PEP27,PEP07,score,final_score
count,9501.000000,9501.000000,9501.000000,9501.00000,9501.000000,9501.000000,9501.000000,9501.000000,9501.000000,9501.000000,...,9501.000000,9501.000000,9501.000000,9501.000000,9501.000000,9501.000000,9501.000000,9501.0,9501.000000,9501.000000
mean,26403.627302,0.240290,0.083675,0.09399,0.225871,0.262393,0.093464,0.042627,0.041890,0.000526,...,0.083149,0.163667,0.042101,0.068098,0.018524,0.003158,0.003263,0.0,0.887001,1.453582
std,16155.470831,0.427282,0.276915,0.29183,0.418177,0.439959,0.291097,0.202026,0.200349,0.022936,...,0.276122,0.369993,0.200830,0.251927,0.134845,0.056106,0.057031,0.0,0.860936,1.411983
min,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.100000,0.160000
25%,8877.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.100000,0.160000
50%,26377.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.800000,1.310000
75%,41830.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.200000,1.970000
max,54284.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,6.100000,10.000000

In [4]:
# Read data
all_fields = pd.read_csv("all_fields.csv")

# Summarize data
print('Shape of data set: ' + str(all_fields.shape))
all_fields.head()

Shape of data set: (9501, 44)

,id_PEP,kids_actual,kids_expected,wife_actual,wife_expected,total_property_assets,total_property_assets_divide_income,sum_income,am_avto,am_avto_without_price,...,sum_prev_cash_assets,sum_cash_min_year,sum_cash_min_year_divide_sum_income_min_year,sum_income_min_year,sum_spending_divide_sum_income,am_company_noBeneficInform,am_company,sum_money_spending,sum_crypto,am_live_property_rent_300more
0,1,NaN,NaN,NaN,NaN,5.470306e+07,10.2862,5318115.0,NaN,NaN,...,NaN,14171514.4,26.7159,530453.0,NaN,1.0,NaN,NaN,NaN,NaN
1,2,0.0,4.0,1.0,1.0,NaN,NaN,772961396.0,NaN,NaN,...,NaN,NaN,NaN,NaN,108.4764,91.0,NaN,NaN,NaN,NaN
2,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,46,NaN,NaN,NaN,NaN,2.548462e+06,12.7462,199939.0,NaN,NaN,...,779336.3476,682586.0,12.6839,53815.0,NaN,NaN,NaN,NaN,NaN,NaN
4,139,NaN,NaN,NaN,NaN,NaN,NaN,15084440.0,NaN,NaN,...,NaN,NaN,NaN,NaN,99.8688,NaN,NaN,NaN,NaN,NaN

In [5]:
all_fields.describe()

,id_PEP,kids_actual,kids_expected,wife_actual,wife_expected,total_property_assets,total_property_assets_divide_income,sum_income,am_avto,am_avto_without_price,...,sum_prev_cash_assets,sum_cash_min_year,sum_cash_min_year_divide_sum_income_min_year,sum_income_min_year,sum_spending_divide_sum_income,am_company_noBeneficInform,am_company,sum_money_spending,sum_crypto,am_live_property_rent_300more
count,9501.000000,2283.000000,2283.000000,2283.000000,2283.000000,7.950000e+02,7.950000e+02,1.281000e+03,978.000000,893.000000,...,7.900000e+02,1.555000e+03,1555.000000,1.555000e+03,400.000000,647.000000,176.000000,1.760000e+02,3.000000e+01,31.0
mean,26403.627302,0.534823,1.593079,0.541393,0.690758,1.063844e+09,2.895310e+03,2.797472e+06,2.373211,1.264278,...,5.583117e+06,9.754805e+06,79.855401,5.865231e+05,305.678807,2.921175,1.278409,3.774243e+08,8.539296e+07,1.0
std,16155.470831,0.758817,0.854172,0.499271,0.468871,2.922913e+10,5.852414e+04,2.462157e+07,2.466724,0.804716,...,2.334662e+07,2.693179e+07,1172.991807,1.607375e+06,751.724624,6.249580,0.664865,2.448488e+09,2.534336e+08,0.0
min,1.000000,0.000000,0.000000,0.000000,0.000000,2.633908e+05,1.000380e+01,1.000000e+00,1.000000,1.000000,...,1.032000e+04,4.900000e+04,5.001300,1.000000e+02,75.425400,1.000000,1.000000,1.044000e+05,1.949276e+02,1.0
25%,8877.000000,0.000000,1.000000,0.000000,0.000000,3.802228e+06,1.311230e+01,2.113200e+05,1.000000,1.000000,...,5.689170e+05,1.308800e+06,7.264850,9.165900e+04,91.916475,1.000000,1.000000,8.471120e+05,3.349252e+04,1.0
50%,26377.000000,0.000000,1.000000,1.000000,1.000000,8.551841e+06,1.848500e+01,4.964880e+05,1.000000,1.000000,...,1.342147e+06,2.884680e+06,12.150100,2.005190e+05,124.752850,1.000000,1.000000,5.064774e+06,1.185250e+05,1.0
75%,41830.000000,1.000000,2.000000,1.000000,1.000000,2.347899e+07,3.572130e+01,1.266457e+06,2.000000,1.000000,...,3.217277e+06,8.065997e+06,26.849550,4.331405e+05,214.948875,2.000000,1.000000,3.782093e+07,2.622149e+06,1.0
max,54284.000000,5.000000,6.000000,2.000000,2.000000,8.241603e+11,1.433779e+06,7.729614e+08,20.000000,10.000000,...,5.039603e+08,4.706109e+08,41770.200000,2.439312e+07,8571.734800,91.000000,5.000000,3.023760e+10,9.468251e+08,1.0

In [6]:
# Report for scores

prof = ProfileReport(scores)
prof.to_file(output_file='scores_report.html')

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=42.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [7]:
# Report for all_fields

prof = ProfileReport(all_fields)
all_fields.profile_report(correlations={"cramers": {"calculate": False}}) #it crashes so needed to be removed
prof.to_file(output_file='all_fields_report.html')

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=56.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))